@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes shadows {
  0% {
    box-shadow: #48abe0 0 0 10px;
  }

  50% {
    box-shadow: blueviolet 0 0 10px;
  }

  75% {
    box-shadow: rebeccapurple 0 0 10px;
  }

  100% {
    box-shadow: #48abe0 0 0 10px;
  }
}

#prompt {
  
  animation: shadows 5s infinite;
  /* box-shadow: #48abe0 0 0 20px; */
}